h1{
    text-align: center;
}

footer{
    display: block;
    text-align: center;
}
footer a{
    margin: 10px;
}
img{
    max-width: 300px;
    margin-left:800px;
    margin-bottom: 50px;
    border-radius: 10px;
}
p{
    text-align: center;
}